<nav class="sidebar">
    <ul>
        <li>
            <a href="#">
                <i class="fa-solid fa-user"></i>
                Admin
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-user"></i>
                QL Yêu cầu mùa
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-user"></i>
                QL Chào giá
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-user"></i>
                QL Đơn hàng
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-user"></i>
                QL Nhận hàng
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-user"></i>
                Báo cáo
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-user"></i>
                Đăng xuất
            </a>
        </li>
    </ul>
</nav>